#layout {
    .content::after {
        content: '';
        display: block;
        clear: both;
    }

    .content {
        background: #F6F6F6;
        padding-left: 5%;
        padding-right: 5%;
    }
}