#navTop {
    height: 70px;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #F1F3F4;

    .nav {
        list-style: none;
        width: 30%;
        font-size: 15px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 150px;
        &::after {
            content: '';
            display: block;
            clear: both;
        }
        li {
            float: left;
            margin-right: 40px;
            a {
                text-decoration: none;
                color: #626262;

                i {
                    margin-right: 10px;
                }
            }
            .active {
                color: #1990FF;
            }
        }
        
    }

    .btn {
        width: 15%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;

        .logout {
            margin-left: 10px;
        }
    }
}